<% self.page_title = 'DBS certificate is required' %>

<%= govuk_back_link edit_candidates_school_registrations_background_check_path(
          anchor: 'candidates_registrations_background_check_has_dbs_check_container'
        ) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You need a DBS certificate at this school</h1>
    <p>This school requires you to have a DBS certificate. There are schools on the service that do not require a DBS certificate.</p>
    <p>
      <strong>
        <%= link_to "Find out more about 'DBS checks' and 'DBS certificates'", 'https://www.gov.uk/government/organisations/disclosure-and-barring-service/about' %>
      </strong>
    </p>
  </div>
</div>
