<section id="cancellation-details">
  <h3>Cancelling your booking</h3>

  <p>Use the following link to cancel your booking:</p>
  <p class="pretty-wrap"><%= candidates_cancel_url(@booking.token) %></p>
</section>
