<section id="dress-code">
  <h3>What to wear</h3>

  <ul class="govuk-list govuk-list--bullet">
    <li class="govuk-list__item">
      Dress code: <%= @placement_request.school&.profile&.dress_code %>
    </li>
  </ul>
</section>
