<section id="help-and-support">
  <h3>Help and support</h3>

  <p>If you have any questions about your booking contact:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li class="govuk-list__item">Name: <%= @placement_request.school&.profile&.admin_contact_full_name %></li>
    <li class="govuk-list__item">Email address: <%= @placement_request.school&.profile&.admin_contact_email %></li>
    <li class="govuk-list__item">UK telephone number: <%= @placement_request.school&.profile&.admin_contact_phone %></li>
  </ul>
</section>
