<section id="school-experience-contacts">
  <h3>School experience contacts</h3>

  <p>On the day of your school experience, you’ll need to report to:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li class="govuk-list__item">Name: <%= @placement_request.booking.contact_name %></li>
    <li class="govuk-list__item">Email address: <%= @placement_request.booking.contact_email %></li>
    <li class="govuk-list__item">UK telephone number: <%= @placement_request.booking.contact_number %></li>
  </ul>

  <p>
    You can also contact them if you have any questions about your experience.
  </p>
</section>
