<section id="school-experience-details">
  <h3>About your school experience</h3>

  <ul class="govuk-list govuk-list--no-bullet">
    <li>
      Subject: <%= @placement_request.booking.bookings_subject.name %>
    </li>
  </ul>

  <p>You can find more information about your school experience on the school's profile page.</p>
</section>
