<% self.page_title = 'Search for school experience' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      Search for school experience
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <div id="search-form">

      <%= form_for(@search,
        as: '',
        url: candidates_schools_path,
        method: :get,
        html: { class: 'school-search-form' }) do |f| %>

          <%= f.search_field :location, required: true, minlength: "3" %>

          <%= f.collection_select :distance,
                Candidates::SchoolSearch.distances, :first, :last %>

          <div class="school-search-form__submit">
            <div class="govuk-form-group">
              <%= f.submit 'Search', name: nil, aria: { label: 'Search for schools offering school experience' } %>
            </div>
          </div>

      <% end %>
    </div>
  </div>
</div>
