# NB: this should be a Schools Experience GIT API token, not a general GIT API token
GIT_API_TOKEN=

# this is key "GiT - Schools Experience - Geolocation Services - Local"
GOOGLE_MAPS_KEY=
# this is key "GiT - Schools Experience - Geocoding Services - Local"
GOOGLE_GEOCODING_KEY=

DFE_SIGNIN_API_ENABLED=true
DFE_SIGNIN_API_CLIENT=schoolexperience
DFE_SIGNIN_API_SECRET=
DFE_SIGNIN_BASE_URL=https://school-experience.localhost
DFE_SIGNIN_SCHOOL_EXPERIENCE_ADMIN_ROLE_ID=
DFE_SIGNIN_SCHOOL_EXPERIENCE_ADMIN_SERVICE_ID=
DFE_PP_SIGNIN_SECRET=
