<section id="account-admin" class="medium-priority">
  <h2 class="govuk-heading-m">
    History
  </h2>
  
  <div id="rejected-requests" class="subsection">
    <header class="dashboard-medium-priority">
      <%= link_to "View rejected requests", schools_rejected_requests_path %>
    </header>
    <span class="govuk-hint">
      View request dates, subjects, candidate names and reasons for rejection
    </span>
  </div>

  <div id="previous-bookings" class="subsection">
    <header class="dashboard-medium-priority">
      <%= link_to "View previous bookings", schools_previous_bookings_path %>
    </header>
    <span class="govuk-hint">
      View booking dates, subjects, candidate names and attendance
    </span>
  </div>

  <div id="withdrawn-requests" class="subsection">
  <header class="dashboard-high-priority">
    <%= link_to "View withdrawn requests", schools_withdrawn_requests_path  %>
    <%= numbered_circle(@withdrawn_requests, id: 'withdrawn-requests-counter', aria_label: 'requests withdrawn by candidate') %>
  </header>
  <p class="govuk-hint">View details of withdrawn requests, including reasons for withdrawal</p>
</div>

</section>
