<article id="dashlette">
  <h1 class="govuk-heading-l">Dashboard</h1>

  <ul class="govuk-list">
    <li>
      <%= link_to "Manage your school profile", schools_on_boarding_profile_path %>
    </li>
    <li>
      <%= link_to "Add or modify placement dates", schools_placement_dates_path %>
    </li>
    <li>
      <%= link_to "Toggle your school's inclusion in candidate searches", "#" %>
    </li>
    <li>
      <%= link_to "Change school", "#" %>
    </li>
  </ul>
</article>
