<div class="<%= @current_school.private_beta? ? 'govuk-grid-column-one-half' : 'govuk-grid-column-full' %>">
  <div id="help-and-support" class="panel govuk-!-margin-bottom-5">
    <h2 class="govuk-heading-m">Help and support</h2>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <ul class="govuk-list">
      <% if @latest_service_update %>
      <li>
        <%= link_to "Service updates and guidance - #{@latest_service_update.date.to_formatted_s(:govuk)}", service_updates_path %>
        <span class="govuk-hint">Find out about the latest changes to the service and how it works</span>
      </li>
      <% end %>
      <li>
        <%= link_to "Request access to another organisation", schools_organisation_access_request_path %>
        <span class="govuk-hint">Request access to manage school experience for another organisation</span>
      </li>
      <li>
        <%= link_to 'Contact us', schools_contact_us_path %>
        <span class="govuk-hint">Get in touch if you need help using the service</span>
      </li>
    </ul>
  </div>
</div>
