<div class="<%= @current_school.onboarded? ? 'govuk-grid-column-one-half' : 'govuk-grid-column-full' %>">
  <div id="help-and-support" class="panel govuk-!-margin-bottom-5">
    <h2 class="govuk-heading-m">Help and support</h2>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <ul class="govuk-list">
      <li>
        <%= link_to 'Contact us', schools_contact_us_path %>
        <span class="govuk-hint">Get in touch if you need help using the service</span>
      </li>
    </ul>
  </div>
</div>
