<section class="manage-dates">
  <h2 class="govuk-heading-m">Manage dates</h3>

  <%- if @current_school.availability_preference_fixed? -%>
    <div id="add-remove-and-change-dates" class="subsection">
      <header class="dashboard-medium-priority">
        <%= link_to "Add, remove and change dates", schools_placement_dates_path %>
      </header>
    </div>
  <%- end -%>

  <div id="change-how-dates-are-displayed" class="subsection">
    <header class="dashboard-medium-priority">
      <%= link_to "Change dates and how they're displayed", edit_schools_availability_preference_path %>
    </header>
  </div>
</section>
