<section id="requests-and-bookings" class="managing-requests">
  <h2 class="govuk-heading-m">
    To do list
  </h2>

  <div id="requests" class="subsection">
    <header class="dashboard-high-priority">
      <%= link_to "Manage requests", schools_placement_requests_path %>
      <%= numbered_circle(@new_requests, id: 'new-requests-counter') %>
    </header>
    <p class="govuk-hint">Candidates have requested school experience</p>
  </div>

  <div id="bookings" class="subsection">
    <header class="dashboard-high-priority">
      <%= link_to "Manage bookings", schools_bookings_path  %>
      <%= numbered_circle(@new_bookings, id: 'new-bookings-counter') %>
    </header>
    <p class="govuk-hint">A candidate has asked to change a booking</p>
  </div>
</section>
