<div class="govuk-warning-text govuk-!-padding-top-7">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    You have no availability information, your school will not appear in candidate
    searches. <%= link_to "Enter dates", schools_availability_preference_path %>
  </strong>
</div>
