<div class="govuk-inset-text" id="service-update-notice">
  <h2 class="govuk-heading-m">
    <%= @latest_service_update.date.to_formatted_s(:govuk) %> -
    <%= @latest_service_update.title %>
  </h2>

  <p>
    <%= @latest_service_update.summary %>
  </p>

  <p>
    <%= link_to 'Read more', service_updates_path %>
  </p>
</div>
