<div class="govuk-inset-text" id="service-update-notice">
  <h2 class="govuk-heading-m">
    <%= @latest_service_update.title_with_date %>
  </h2>

  <p>
    <%= @latest_service_update.summary %>
  </p>

  <p>
    <%= link_to service_updates_path do %>
      Read more <span class="govuk-visually-hidden">about "<%= @latest_service_update.title %>"</span>
    <% end %>
  </p>
</div>
