<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      <%= not_onboarded_warning(@current_school) %>
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      <p>
        Before you can receive requests, you need to complete your school profile.

        <span class="govuk-heading-s govuk-!-margin-top-4">
          <%= link_to 'Complete your school profile',
            Feature.enabled?(:task_progress_on_boarding) ? schools_on_boarding_progress_path : schools_on_boarding_profile_path,
            class: 'govuk-link'
          %>
        </span>
      </p>
      <p class = "govuk-body">
        Your personal details will be protected under the terms of our <%= link_to 'privacy notice', privacy_policy_path =%>.
        This explains how we use your personal data. It's important you read it before completing your school profile.
      </p>
    </p>
  </div>
</div>
