<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      <%= not_onboarded_warning(@current_school) %>
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      <p class="govuk-notification-banner__heading">
        Your profile isn't complete
      </p>
      <p>Before you can view and deal with these requests you need to answer some questions to update your school profile</p>
      <p>
        <span class="govuk-heading-s govuk-!-margin-top-4">
          <%= link_to 'Update your school profile',
            schools_on_boarding_progress_path,
            class: 'govuk-link'
          %>
        </span>
      </p>
    </p>
  </div>
</div>
