<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <div id="user-management" class="panel govuk-!-margin-bottom-5">
      <h2 class="govuk-heading-m">User Management</h2>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <ul class="govuk-list">
        <li>
          <%= link_to "Manage users", schools_manage_users_path  %>
        </li>
      </ul>
    </div>
  </div>
</div>
