<%- self.page_title = "Error - Insufficient privileges" -%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <section>
      <h1 class="govuk-heading-l">You don't currently have permission to manage school experience</h1>

      <p>
        Contact your school's <strong>DfE Sign-in approver</strong> and ask them to provide
        you with access to <strong>School Experience</strong> within your DfE Sign-in account.
      </p>

      <p>
        The approver is usually a senior manager at your organisation such
        as the headteacher.
      </p>

      <p>
        If your organisation does not have an approver, you can request an
        approver account by <%= link_to 'submitting a service request', 'https://help.signin.education.gov.uk/contact/form' %>.
      </p>
    </section>
  </div>
</div>
