<% self.page_title = 'Get school experience' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Get school experience</h1>

    <p class="govuk-body-lead">
      Use this service if you're interested in becoming a teacher and want to
      find and request school experience in schools across England.
    </p>

    <p>
      School experience allows you to find out more about teaching by visiting
      schools.
    </p>

    <p class="govuk-!-font-weight-bold">
      This service is only available for school experience at primary and
      secondary schools in England.
    </p>

    <%= link_to 'Start now', candidates_splash_path,
        role:'button',
        class:'govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8' %>

    <section class="before-you-start">
      <h2 class="govuk-heading-m">Before you start</h2>

      <p>
        To request school experience, you’ll need to provide:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>personal details - including your address</li>
        <li>contact details - including your email and telephone number</li>
      </ul>
    </section>
  </div>

  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <nav role="navigation" aria-label="External resources">
        <h2 class="govuk-heading-m" id="teaching-resources">
          Teaching resources
        </h2>
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="https://getintoteaching.education.gov.uk/" class="govuk-!-font-weight-bold">
              Get Into Teaching
            </a>
          </li>
        </ul>

        <h2 class="govuk-heading-m" id="guidance-for-schools">
          Guidance for schools
        </h2>
        <ul class="govuk-list govuk-!-font-size-16" aria-labelledby="guidance-for-schools">
          <li>
            <a href="https://www.gov.uk/government/publications/school-experience-programme-information-for-schools/school-experience-programme-information-for-schools" class="govuk-!-font-weight-bold">
              Manage school experience
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>
