<% self.page_title = 'How the service works' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  	<div class="govuk-se-masthead">
  		<h1 class="govuk-heading-l">
        How the service works
      </h1>

  		<p>
        After you’ve requested a school experience, schools will contact you to
        discuss your request.
      </p>

  		<p>
        Be aware, during term time it could typically take up to 2 weeks for them
        to get in touch.
      </p>

  		<p>
        The school will email or call you to discuss your request and experience
        date and use this contact to:
      </p>

  		<ul class="govuk-list govuk-list--bullet">
  			<li>
          discuss your suitability for an experience at their school
        </li>

  			<li>
          offer and arrange the best experience date they have available
        </li>

        <li>
          find out more about your requirements - including any disability or
          access needs
        </li>

  			<li>
          let you know about any background and security checks you might need to
          go through
        </li>

  			<li>
          let you know about any fees you might have to pay as part of your
          school experience - including any related experience, parking or other
          fees
        </li>
  		</ul>

      <p>
        To help cover costs, some schools charge a fee for school experience.
        You’ll need to pay any fees direct to the individual schools.
  		</p>

  		<p>
        You’ll receive an email after you’ve requested an experience and schools
        will contact you once they’ve booked you on an experience.
  		</p>

      <%= link_to 'Continue', candidates_schools_path,
            role:'button',
            class:'govuk-button govuk-se-button--start' %>
  	</div>
  </div>

  <div class="govuk-grid-column-one-third">

  </div>
</div>
