<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">About Get school experience</h1>

        <p>
         Get school experience allows you to learn more about teaching by visiting schools. 
        It can help you decide whether or not you want to do teacher training.
        </p>

        <p>
         School experience is different from doing an internship or a teacher training placement.
        </p>

    <h2 class="govuk-heading-l">How it works</h2>

    <p>
        Use Get school experience to:
        <ul>
            <li> search for schools</li>
            <li>see which schools are offering experience and when</li>
            <li>submit a request to the school you want to visit</li>
        </ul>
    </p>