<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_back_link %>

    <h1 class="govuk-heading-xl">About Get school experience</h1>

        <p>
         Get school experience allows you to learn more about teaching by visiting schools. 
        It can help you decide whether or not you want to do teacher training.
        </p>

        <p>
         School experience is different from doing an internship or a teacher training placement.
        </p>

    <h2 class="govuk-heading-m">How it works</h2>

    <p>
        Use this service to:
        <ul class="govuk-list govuk-list--bullet">
            <li>search for schools</li>
            <li>see which schools are offering experience and when</li>
            <li>submit a request to the school you want to visit</li>
        </ul>
    </p>
  
    <h2 class="govuk-heading-m">How long it lasts</h2>
  
  <p>
    Placements are usually one or 2 days long, but some can be as long as 3 weeks.
  </p>
   
  <h2 class="govuk-heading-m">Who can request school experience</h2>
  
        <p>
         You can request school experience if you:
          <ul class="govuk-list govuk-list--bullet">
            <li>are aged 18 or over</li>
            <li>have a degree (or are studying for one)</li>
            <li>have the right to work in the UK</li>
        </ul>
    </p>

 <h2 class="govuk-heading-m">When to do school experience</h2>

        <p>
         If you’re considering going into teaching, you may want to do school experience before you apply for teacher training. That way, you can find out if teaching is the right career for you.
        </p>

 <h2 class="govuk-heading-m">Benefits of school experience</h2>

        <p>
         School experience can help you:
          <ul class="govuk-list govuk-list--bullet">
            <li>decide if you want to train to be a teacher</li>
            <li>discover which setting you’d prefer to teach in (primary or secondary)</li>
            <li>build a relationship with a school you might want to work with later</li>
        </ul>
    </p>

<h2 class="govuk-heading-m">What to expect</h2>

        <p>
         You can do virtual or in-school experience, depending on what schools offer.
        </p>

    <p>
         During your experience, you'll get to do things like:
          <ul class="govuk-list govuk-list--bullet">
            <li>observe lessons</li>
            <li>see how teachers manage a classroom</li>
            <li>find out how specific subjects are taught</li>
            <li>speak to teachers and interact with pupils</li>
            <li>learn more about teacher training - including the application and interview process</li>
        </ul>
    </p>

        <p>
         Some schools will offer a mixture of classroom observation and a presentation.
        </p>

        <p>
         Virtual experience can involve a presentation or ‘Q and A’ (question and answer) session. Sometimes it can be a pre-recorded video of a lesson.
        </p>

<h2 class="govuk-heading-m">How schools are managing the risk of COVID-19</h2>

        <p>
         Each school will have their own COVID-19 safety measures and these can change often. Schools will provide you with these details when you request experience with them.
        </p>
