<% self.page_title = 'School feedback sent' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Thank you for your feedback.
      </h1>
    </div>
    <h2 class="govuk-heading-m">
      Manage your school experience details
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <%= link_to 'Your requests and bookings', schools_dashboard_path %>
      </li>
    </ul>
  </div>
</div>
