    <% if presenter.school.enabled? && presenter.school.has_availability? && include_candidate_request_links %>
      <div class="govuk-button-group">
      <%= render "start_request", profile: presenter %>
      <%= link_to "Back to search results", :back, data: { controller: "back-link" }  %>
      </div>
    <% end %>
