<%- self.page_title = "Availability information" %>

<%
  self.breadcrumbs = {
    @current_school.name => schools_root_path,
    'Availability information' => nil
  }
%>

<h1>When are your school's placements available?</h1>

<%= form_for @current_school, url: schools_availability_info_path, method: :patch do |form| %>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <%= form.text_area :availability_info %>
    </fieldset>
  </div>

  <%= form.submit 'Continue' %>
<%- end -%>
