<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= link_to 'Back', schools_booking_path(@booking), class: 'govuk-back-link' %>

    <%= page_heading 'Booking date cannot be edited' %>

    <p>
      The booking you have selected can no longer have the date edited.
    </p>

    <p>
      <%= govuk_link_to 'Return to booking', schools_booking_path(@booking), secondary: true %>
    </p>
  </div>
</div>
