<%
  self.page_title = "Archived placement requests"

  self.breadcrumbs = {
    @current_school.name => schools_dashboard_path,
    'Requests' => schools_placement_requests_path,
    'Archived requests' => nil
  }
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1>Archived requests</h1>

    <% if @placement_requests.any? %>
      <%= pagination_bar @placement_requests %>

      <%= render partial: 'schools/placement_requests/placement_requests_table',
        locals: { placement_requests: @placement_requests } %>

      <%= pagination_lower @placement_requests %>

    <% else %>
      <p>
        There are no requests.
      </p>
    <% end %>

    <%= govuk_link_to "Return to requests", schools_placement_requests_path, secondary: true %>
  </div>
</div>
