<% self.page_title = 'Request sent' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Your school experience request has been sent
      </h1>
    </div>
    <h3 class="govuk-heading-m">What happens next</h3>
    <p>
      Your request for school experience will be forwarded to
      <%= @application_preview.school %>.
    </p>
    <p class="govuk-!-font-weight-bold">
      The school will email or call you to discuss your request and experience
      date. For example, during term time this could typically take up to 2 weeks.
    </p>
    <p>
      We'll email you a copy of your request details to confirm you've requested
      school experience.
    </p>
  </div>
</div>
