<% self.page_title = 'Request sent' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        You've requested school experience at <%= @school_name %>
      </h1>
    </div>

    <h3 class="govuk-heading-m">What happens next</h3>

    <p>
      You will be contacted about your request. Schools aim to get in touch
      within 10 working days during term time.
    </p>

    <p>
      If you can't find any messages from the school in your inbox - check your
      spam and other mailbox folders.
    </p>

    <p>
      We'll email you copy of your request for your records.
    </p>

    <p>
      <%= govuk_link_to 'Search for school experience', new_candidates_school_search_path %>
    </p>
  </div>
</div>
