<% self.page_title = 'Request sent' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        You've requested school experience at <%= @school_name %>
      </h1>
    </div>

    <h2 class="govuk-heading-m">What happens next</h2>

    <p>
      You'll be contacted about your request. Schools aim to get in touch
      within 10 working days during term time.
    </p>

    <p>
      If you cannot find any messages from the school in your inbox, check your
      spam and other mailbox folders.
    </p>

    <p>
      You'll also receive a copy of your request for your records.
    </p>

    <p>
      <%= govuk_link_to 'Search for school experience', new_candidates_school_search_path, class: "govuk-!-margin-bottom-0" %>
    </p>

    <%= govuk_button_to "Visit your dashboard", candidates_dashboard_path, method: :get, secondary: true %>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

   <h2 class="govuk-heading-m">If you're ready to apply for teacher training</h2>

   <p>Sign up for a teacher training adviser to get free, one-to-one support with your application.</p>
   <p>An adviser with years of teaching experience can help you with:
    <ul class="govuk-list govuk-list--bullet">
    <li>choosing your course</li>
    <li>writing your personal statement</li>
    <li>preparing for interviews</li>
    </ul>
  </p>

   <p>
    <a href = "https://getintoteaching.education.gov.uk/teacher-training-adviser/sign_up/identity?utm_source=schoolexperience.education.gov.uk&utm_medium=referral&utm_campaign=gse_completion">Sign up for a teacher training adviser</a>.
  </p>

  </div>
</div>
