<div id="candidate-alert-notification" class="govuk-warning-text govuk-!-padding-top-5 govuk-!-padding-bottom-0">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>

    <p>In light of measures in place due to the response to coronavirus (COVID-19) school experience may be affected. Some schools are offering online alternatives which can be found in the schools detail page.</p>

    <p>More detailed guidance on what this means for teaching training applications can be found here
      <a href=\"https://getintoteaching.education.gov.uk/impact-of-covid-19-on-teacher-training\">https://getintoteaching.education.gov.uk/impact-of-covid-19-on-teacher-training</a></p>
  </strong>
</div>
