<div id="candidate-alert-notification" class="govuk-warning-text govuk-!-padding-top-5 govuk-!-padding-bottom-0">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    <%= simple_format Rails.application.config.x.candidates.alert_notification  %>
  </strong>
</div>
