<h3 class="govuk-heading-s">
  <%= service_update.title_with_date %>
</h3>

<p>
  <%= service_update.summary %>
  -
  <%= link_to service_update do %>
    read more <span class="govuk-visually-hidden">about "<%= service_update.title %>"</span>
  <% end %>
</p>
