<% self.page_title = "Experience feedback sent" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Thank you for your feedback
      </h1>
    </div>
  <h2 class="govuk-heading-m">
    Get support and advice from a teacher training adviser
  </h2>
    <p>
      Get free, ongoing one-to-one support from an adviser with years of teaching experience.
      They can help you to find a course, explain funding options and guide you step-by-step through the application process.
    </p>
      <p>
      <%= link_to 'Get a teacher training adviser', 'https://getintoteaching.education.gov.uk/teacher-training-advisers' %>.
    </p>
    <p>
        You can find more information on how to become a teacher at
        <%= link_to 'Get Into Teaching', 'https://getintoteaching.education.gov.uk/' %>.
  </div>
</div>
