<%- self.page_title = "Booking details ref #{@booking.reference}" %>

<%
  self.breadcrumbs = {
    @current_school.name => schools_dashboard_path,
    "All bookings" => schools_bookings_path,
    "Booking #{@booking.id}" => nil
  }
%>

<h1>Booking by <%= @booking.candidate_name %></h1>

<%= render 'booking', booking: @booking %>

<div>
  <%= govuk_link_to 'Return to requests and bookings', schools_dashboard_path %>
</div>
