<%
  self.breadcrumbs = {
    @current_school.name => schools_dashboard_path,
    "You've successfully set up your school experience profile" => nil
  }
%>

<% self.page_title = "You've successfully set up your school experience profile" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        You've set up your profile
      </h1>
    </div>

    <p>
      You can now receive school experience requests from candidates.
    </p>

    <p>
      <strong>
        Try and respond to requests within 10 working days during term time.
      </strong>
    </p>

    <p>
      <%= govuk_link_to 'Your requests and bookings', schools_dashboard_path %>
    </p>
  </div>
</div>
