<%
  self.breadcrumbs = {
    @current_school.name => schools_root_path,
    "You've successfully set up your school experience profile" => nil
  }
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        You've successfully set up your school experience profile
      </h1>
    </div>
    <h3 class="govuk-heading-m">
      What happens next
    </h3>
    <p>You’ve provided us with all the details so candidates can start sending you school experience requests.</p>
    <p>You’ll be emailed a candidate’s school experience request which will provide you with their:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        full name and contact details - including address, email and UK telephone number
      </li>
      <li>
        individual requirements - including their school experience expectations and preferred dates and subjects
      </li>
      <li>
        degree status - including whether they have or are studying towards a degree and the subject
      </li>
      <li>
        teaching experience - including how far they've got towards becoming a teacher
      </li>
    </ul>
    <p>
      You'll also be told if they’ve got a Disclosure and Barring Service (DBS) certificate. These details will not be verified by DfE.
    </p>

    <p>
      <strong>You should try and respond to requests within 10 working days.</strong>
    </p>
    <p>
      You should email or call each candidate to discuss their request and placement date and use this contact to:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>discuss their suitability for school experience at your site</li>
      <li>offer and arrange the best placement date you have available</li>
      <li>find out more about their placement requirements - including any disability or access needs</li>
      <li>explain any background and security checks they might need to go through</li>
      <li>explain any fees they might have to pay - including any administration, DBS check, parking or other fees</li>
    </ul>

    <p>
      You’ll need to sort out payment of any fees between yourselves and individual candidates.
    </p>

    <h3 class="govuk-heading-m">View and update your school experience details</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <%= link_to 'School experience profile', schools_dashboard_path %>
      </li>
    </ul>
  </div>
</div>
