<%- self.page_title = "All bookings" %>

<%= link_to 'Back', schools_dashboard_path, class: 'govuk-back-link' %>

<h2 class="Govuk-heading-m">View bookings</h2>

<%= render partial: 'schools/bookings/booking_table', locals: { bookings: @bookings } %>
