<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1>Reject request</h1>

    <p>
      Enter and confirm the reasons for rejecting the school experience request by
      <%= @placement_request.candidate_name %>.
    </p>

    <p>
      The reasons you enter will be sent to them in an email confirmation to let them
      know why their request has been turned down.
    </p>

    <%= form_for @reject_reason, url: schools_placement_request_reject_path, method: :post do |f| %>
      <%= f.text_area :reason, 'Reasons for rejecting the request' %>
      <%= f.submit 'Continue' %>
    <% end %>
  </div>
</div>
