<%- self.page_title = "Log out" -%>

<h1>Logout</h1>

<%= button_to "Log me out of school experience",
  schools_session_path,
  method: 'delete',
  class: 'govuk-button'
%>

<%= button_to "Log me out of DfE signin completely",
  schools_dfe_session_path,
  method: 'delete',
  class: 'govuk-button govuk-button--secondary'
%>
