<section id="personal-details">
  <h2>Personal details</h2>

  <dl class="govuk-summary-list">
    <%= summary_row 'Address', personal_details.address %>
    <%= summary_row 'UK telephone number', personal_details.phone %>
    <%= summary_row 'Email address', personal_details.email %>
  </dl>
</section>