<% self.page_title = "All placement requests" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">
    <%= link_to 'Back', schools_dashboard_path, class: 'govuk-back-link' %>

    <h1>All placement requests</h1>

    <%= render partial: 'schools/placement_requests/placement_requests_table',
      locals: { placement_requests: @placement_requests } %>

  </div>
</div>
