<%= self.page_title = "All placement requests" %>
<%= link_to 'Back', schools_dashboard_path, class: 'govuk-back-link' %>

<h1>All placement requests</h1>

<div id="placement-requests">
  <%= render partial: 'schools/placement_requests/placement_request',
    collection: @placement_requests
  %>
</div>
