<%
  self.breadcrumbs = {
    @current_school.name => schools_dashboard_path,
    'Download requests and bookings' => nil
  }
%>

<div id="csv-download" class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= page_heading "Download requests and bookings" %>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>

        Please note by using this feature you are exporting personally
        identifiable information. Please ensure the data is stored securely and
        processed in line with UK GDPR regulations.
      </strong>
    </div>

    <p>
      Download a CSV export of all requests and bookings for the current
      academic year.
    </p>

    <%= render partial: "form", locals: { form: @form } %>

</div>
