<section id="access-needs-statement" class="govuk-!-margin-bottom-6">
  <p>
    <%= presenter.access_needs_description %>
  </p>

  <% if presenter.disability_confident? %>
    <%= image_tag 'disability-confident-small.png', alt: 'Disability confident logo' %>
  <% end %>

  <% if presenter.has_access_needs_policy? %>
    <p>
      <%= link_to 'Access needs policy', presenter.access_needs_policy_url %>
    </p>
  <% end %>
</section>
