<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-form-group" id="search-form">
            <%= form_for @search, as: '', method: :get do |f| %>
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Find school experience placements
                        </h1>
                    </legend>
                    <p>This service is only available in England</p>

                    <span id="search-hint" class="govuk-hint">
                        For example: <strong>Manchester M1 1AD</strong><br/>
                        OR
                        <br/>
                        <strong>Maths, special school, M1 1AD</strong>
                    </span>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <%= f.text_field :query, placeholder: 'search' %>
                        </div>

                        <div class="govuk-grid-column-one-quarter">
                            <%= f.collection_select :distance,
                                Candidates::SchoolSearch.distances, :first, :last,
                                include_blank: 'Select search distance' %>
                        </div>

                        <div class="govuk-grid-column-one-quarter">
                            <%= f.submit 'Find' %>
                        </div>
                    </div>
                </fieldset>
            <% end %>
        </div>
    </div>
</div>
