<div>
  <%- if primary_dates.any? -%>

    <%- if secondary_dates_grouped_by_date.any? -%>
      <h4 class="govuk-heading-m">Upcoming primary dates</h4>
    <%- else -%>
      <h4 class="govuk-heading-m">Upcoming dates</h4>
    <%- end -%>

    <ul class="govuk-list">
      <%- primary_dates.each do |primary_date| -%>
        <li><strong><%= primary_date.date.to_formatted_s(:govuk) %></strong></li>
      <%- end -%>
    </ul>

  <%- end -%>

  <%- if secondary_dates_grouped_by_date.any? -%>

    <%- if secondary_dates_grouped_by_date.any? -%>
      <h4 class="govuk-heading-m">Upcoming secondary dates</h4>
    <%- else -%>
      <h4 class="govuk-heading-m">Upcoming dates</h4>
    <%- end -%>

    <dl class="secondary-placement-dates govuk-summary-list govuk-summary-list--no-border">
      <%- secondary_dates_grouped_by_date.each do |date, subjects| -%>

        <div class="govuk-summary-list__row">

          <dt class="govuk-summary-list__key">
            <%= date.to_formatted_s(:govuk) %>
          </dt>

          <dd class="govuk-summary-list__value">
            <ul class="govuk-list">
              <% subjects.each do |subject| %>
                <li><%= subject %></li>
              <% end %>
            </ul>
          </dd>

        </div>

      <%- end -%>
    </dl>

  <%- else -%>

    <div class="govuk-inset-text">
      There are no upcoming dates
    </div>

  <%- end -%>
</div>
