<h3 class="govuk-heading-m">Upcoming placement dates</h3>

<div>
  <%- if available_dates_grouped_by_date.any? -%>

    <dl class="govuk-summary-list govuk-summary-list--no-border">
      <%- available_dates_grouped_by_date.each do |date, subjects| -%>

        <div class="govuk-summary-list__row">

          <dt class="govuk-summary-list__key">
            <%= date.to_formatted_s(:govuk) %>
          </dt>

          <dd class="govuk-summary-list__value">
            <ul class="govuk-list">
              <% subjects.each do |subject| %>
                <li><%= subject %></li>
              <% end %>
            </ul>
          </dd>

        </div>

      <%- end -%>
    </dl>

  <%- else -%>

    <div class="govuk-inset-text">
      There are no upcoming placement dates
    </div>

  <%- end -%>
</div>
