<% self.page_title = @school.name %>

<%= link_to 'Back', :back,
            class: 'govuk-back-link',
            data: {controller: 'back-link'} %>

<h1 class="govuk-heading-l govuk-!-margin-top-4"><%= @school.name %></h1>

<%= render @school.private_beta? ? 'phase2' : 'phase1', school: @school %>

<p>
    <%= link_to "Start request",
                new_candidates_school_registrations_placement_preference_path(@school),
                class:"govuk-button" %>
</p>

