<section>
  <p>
    You can use the DfE Sign-in service to request access to the Manage
    school experience service for a school you are responsible for.
  </p>

  <p>
    An approver from that school will receive the request and decide whether
    to grant you access.
  </p>

  <p>
    <%= govuk_link_to "Request access to a school",
          Schools::ChangeSchool.request_approval_url %>
  </p>
</section>
