<section>
  <p>
    You can use the DfE Sign-in service to request access to the Manage
    school experience service for a school you are responsible for.
  </p>

  <p>
    An approver from that school will receive the request and decide whether
    to grant you access.
  </p>

  <p>
    <%= govuk_link_to "Request access to a school",
          Schools::ChangeSchool.request_approval_url %>
  </p>

  <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
    If you receive an error saying "You are already linked to this organisation"
    </span>
  </summary>
  <div class="govuk-details__text">
    This error means you have been associated with this school on DfE Sign In, but you need to have School Experience added to your account by an approver.

    You can request this on DfE Sign In in the 'Services' section.
    <p>
      <%= link_to 'Request access to School Experience', @dfe_sign_in_add_service_url %>
    </p>
  </div>
</details>



</section>
