<%= link_to 'Back', :back, class: 'govuk-back-link' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1>DfE Sign-in help</h1>


    <p>
      You need a DfE Sign-in account username and password to manage school
      experience for an organisation.
    </p>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>

        These are not the same as your old School Experience Portal (SEP)
        login details and do not include your URN.
      </strong>
    </div>

    <p>
      Don't worry if you don't have or don't know your details - all you need to
      do is contact your organisation's DfE Sign-in approver.
    </p>

    <p>
      Your approver can help you:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        set up a new account if you don't already have one
      </li>
      <li>
        sign in to your existing account if you already have one
      </li>
      <li>
        set up your account so you can manage school experience for your schools
      </li>
    </ul>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-dfe-signin-help">
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
              How do I find my DfE Sign-in approver?
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
            <p>Your approver will normally be the head or deputy head.<p>
            <p>If they're not or you're not sure, don't worry. We just need to get some of your details so we can find them.</p>
            <p>We'll be in touch within 3 to 5 working days.</p>
            <a class="govuk-button" href="https://docs.google.com/forms/d/e/1FAIpQLSdO3qOE-Kgo8keTou3DDYPVv2YKi225YbCqMUl_sadZNRW2mA/viewform?usp=pp_url">
              Get help
            </a>
        </div>
      </div>
    </div>
  </div>
</div>
