<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= link_to 'Back', :back, class: 'govuk-back-link', data: { controller: 'back-link' } %>

    <%= page_heading do %>
      Help and support candidates with disability and access needs
    <% end %>

    <p>
      Read this guidance to find out you can help and support candidates with
      disability and access needs requirements.
    </p>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Dealing with requests
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <p>
            <strong>
              Ask all candidates if they have disability or access needs and if they require
              any adjustments for school experience.
            </strong>
          </p>
          <p>
            Each individual will be the best 'expert' on their needs. Two people may have
            the same condition but have different needs and preferences.
          </p>
          <p>
            If you don't ask people directly if they need any adjustments then some
            participants won’t be confident enough to ask.
          </p>
        </div>
      </div>

      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
              Leading up to school experience
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
          <p>
            <strong>
              Provide all candidates with an outline of their school experience day and
              agenda in advance.
            </strong>
          </p>
          <p>
            It’s good practice to share this information in advance as it helps all
            candidates - even if they don’t have specific disability or access needs.
          </p>
          <p>
            However, providing information up front is particularly beneficial for
            candidates with autistic spectrum disorders and reading disabilities such as
            anxiety or dyslexia.
          </p>
        </div>
      </div>

      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
              On the day
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
          <p>
            <strong>
              Ask candidates where they want to sit.
            </strong>
          </p>
          <p>
           This is particularly important for candidates with anxiety, autistic spectrum
           disorders, mobility issues and hearing and visually impairments.
          </p>

          <p>
            <strong>
              Provide some printed materials in larger fonts for candidates.
            </strong>
          </p>
          <p>
            We recommend you use an 18-point font printed in landscape because it’s easier
            to print in landscape for fonts of this size and above.
          </p>
          <p>
            However, some candidates will even struggle using 14-point fonts and not
            everyone will be confident enough to ask you to make adjustments.
          </p>
          <p>
            This means having at least a few copies of materials in larger fonts can be
            helpful.
          </p>
          <p>
            It’s good practice to let candidates know that the can ask for larger font
            printed materials in advance so add this information to your school profile if
            you offer this service.
          </p>
        </div>
      </div>

      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
              On request
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
          <p>
            <strong>
              If candidates ask, print materials in larger fonts.
            </strong>
          </p>
          <p>
            Some candidates will have very specific needs. For example, large print means
            different things to different people and some may want materials printed in a
            specific font.
          </p>
          <p>
            It’s good practice to let candidates know that the can ask for larger font
            printed materials in advance so add this information to your school profile if
            you offer this service.
          </p>

          <p>
            <strong>
              If candidate ask, print materials on different colour backgrounds.
            </strong>
          </p>

          <p>
            This is particularly helpful for candidates with dyslexia as reading black text
            on a white background can be very difficult and having different colour texts
            and backgrounds can make reading easier.
          </p>

          <p>
           Even an off-white background can help candidates and many use yellow paper or
           other pastel colours.
          </p>

          <p>
            Candidates with dyslexia may also prefer to receive material
            electronically and follow along on their own laptop or digital
            device.
          </p>
        </div>
      </div>
    </div>
    <%= back_to_top_link %>
  </div>
</div>
