<h1 class="govuk-heading-xl">Sorry, the service is unavailable</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>
      You will be able to use the service later today.
    </p>

    <p>
      We have not saved your answers. When the service is available, you will have to start again.
    </p>

    <p>
      Contact
      <a href="mailto:organise.school-experience@education.gov.uk">
        organise.school-experience@education.gov.uk
      </a> if you need further information.
    </p>
  </div>
</div>
