<h1 class="govuk-heading-xl">Improved school experience service</h1>

<p>
  You’ll no longer be able to access the School Experience (SEP) Portal to book
  school experience.
</p>

<p>
  Instead, you’ll need to use our improved 'Get school experience' service to
  find and request school experience.
</p>

<p>
  After you've requested a school experience through this service, schools will
  get in touch to discuss your request.
</p>

<h3 class="govuk-heading-m">Previous SEP bookings</h3>

<p>
  If you’ve already booked a school experience through our old School Experience
  Portal (SEP) Portal - your booking still stands.
</p>

<p>
  However, if you have any questions about any previous bookings, made through
  the Portal, please contact the school.
</p>

<p>
  <%= link_to "Continue to 'Get school experience'",
        candidates_root_path,
        class: 'govuk-button' %>
</p>
