<% content_for :back_link do govuk_back_link(request.referer || candidates_root_path); end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= page_heading do %>
      Privacy Policy
    <% end %>

    <%= sanitize @privacy_policy %>

    <br>
    <%= back_to_top_link %>
  </div>
</div>
