<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

  <%= link_to 'Back', (request.referer || candidates_root_path), class: 'govuk-back-link' %>

    <h1 class="govuk-heading-l">Privacy Notice: Get Into Teaching Information
Service</h1>

    <%= render @policy_id %>

    <br>
    <%= back_to_top_link %>
  </div>
</div>
