<%= govuk_back_link %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= page_heading 'Request access to a school' %>

    <%= render 'request_organisation_access' %>
  </div>
</div>
