<%
  self.page_title = "Manage Users"

  self.breadcrumbs = {
    @current_school.name => schools_dashboard_path,
    'Users' => nil
  }
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1>Add users to <%= @current_school.name %> </h1>

    <p>
      Users will be able to:
      <ul ul class="govuk-list govuk-list--bullet">
        <li>advertise experience at your school</li>
        <li>allow candidates to request experience</li>
        <li>accept or reject candidates requests for experience</li>
        <li>add other users from your school</li>
      </ul>
    </p>

    <div class="govuk-button-group">
      <%= govuk_link_to 'Add user', new_schools_user_path, primary: true %>
      <%= govuk_link_to "Return to dashboard", schools_dashboard_path, secondary: true %>
    </div>

  </div>
</div>
