<%
  self.page_title = "Manage Users"

  self.breadcrumbs = {
    @current_school.name => schools_dashboard_path,
    'Users' => nil
  }
%>

<% @current_school.attributes.each do |attr_name, attr_value| %>
  <p><strong><%= attr_name %>:</strong> <%= attr_value %></p>
<% end %>

<%= link_to 'Add user', new_schools_user_path, class: 'govuk-button' %>

<table id="placement-requests" class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">First Name</th>
      <th class="govuk-table__header">Last Name</th>
      <th class="govuk-table__header">Email</th>
      <th class="govuk-table__header">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">

  </tbody>
</table>
