<% self.page_title = "Contact us" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Contact us</h1>

    <p>
      If you need help and support or have a question about the service email us
      with your URN at <%= mail_to 'organise.school-experience@education.gov.uk' %>.
    </p>

    <p class="govuk-!-margin-top-6">
      <%= link_to 'Return to requests and bookings', schools_dashboard_path, class: 'govuk-button', data: { module: 'govuk-button' } %>
    </p>
  <div>
</div>
