<% self.page_title = "Contact us" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Contact us</h1>

    <p>
      If you need help and support or have a question about the service email us
      with your Unique Reference Number (URN) at <%= mail_to 'organise.school-experience@education.gov.uk' %>.
    </p>

    <p class="govuk-!-margin-top-6">
      <% if @signed_in %>
        <%= govuk_link_to 'Go to dashboard', schools_dashboard_path %>
      <% else %>
        <%= govuk_link_to 'Return to manage school experience', schools_path %>
      <% end %>
    </p>
  <div>
</div>
