<%- self.page_title = "Error - Inaccessible school" -%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <section>
      <h1 class="govuk-heading-l">You don't have access to this school</h1>

      <p>
        You'll need to ask the organisation's ‘DfE Sign-in approver' (often
        their head or deputy head) to grant you permission to view it.
      </p>

      <%= govuk_link_to 'Return to the dashboard', schools_dashboard_path %>
    </section>
  </div>
</div>
