<%- self.page_title = "Create a placement date" %>

<%
  self.breadcrumbs = {
    @current_school.name => schools_root_path,
    'Placement dates' => schools_placement_dates_path,
    'Create a placement date' => nil
  }
%>

<h1>Create a placement date</h1>

<%= form_for @placement_date, url: schools_placement_dates_path, method: :post do |form| %>
  <%= form.date_field :date %>
  <%= form.number_field :duration, width: 3, required: true %>
  <%= form.submit 'Continue' %>
<%- end -%>
