<%- self.page_title = "Create a placement date" %>

<%= link_to 'Back', schools_placement_dates_path, class: 'govuk-back-link' %>

<h1>Create a placement date</h1>

<%= form_for @placement_date, url: schools_placement_dates_path, method: :post do |form| %>
  <%= render partial: 'form', locals: { form: form } %>
  <%= form.submit 'Continue' %>
<%- end -%>
