<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Page not found</h1>

    <p class="govuk-body">
      If you typed or copied the web address, check it is correct.
    </p>

    <p class="govuk-body">
      If you continue to encounter this problem, contact the Organise School
      Experience team on
      <a href="mailto:organise.school-experience@education.gov.uk">organise.school-experience@education.gov.uk</a>
      for assistance.
    </p>
  </div>
</div>
