<% self.page_title = 'Confirm your email' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-heading-l">
      Confirm your placement request
    </div>
    <p>
      Click the confirmation link in the email we’ve sent to the following email
      address to confirm your request for a placement at <%= @school_name %>:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li><%= @email %></li>
    </ul>
    <p>
      If you can’t find the message in your inbox:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>check your spam and any other mailbox folders</li>
    </ul>
    <p>
      If you can’t find or haven’t received the email and confirmation link
      within the next 3 hours please click the following link to resend it:
    </p>
    <%= button_to 'Resend confirmation link', @resend_path, class: 'govuk-button govuk-button--secondary' %>
  </div>
</div>
