<% self.page_title = 'Link has expired' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1>
      Sign in link has expired
    </h1>

    <p>
      Your sign in link has expired
    </p>

    <p>
      <%= link_to 'Return to Sign in', candidates_signin_path, class: 'govuk-link' %>
    </p>
  </div>
</div>
