<div class="govuk-summary-list__row <%= key.parameterize %>">
  <dt class="govuk-summary-list__key">
    <%= key %>
  </dt>
  <dd class="govuk-summary-list__value">
    <%= value %>
  </dd>
  <dd class="govuk-summary-list__actions">
    <%= action %>
  </dd>
</div>
