<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1>There was a problem signing you in</h1>

    <section>
      <p>
        Please try to log in again.
      </p>

      <div>
        <%= link_to "Log in again", new_schools_switch_path, class: 'govuk-button' %>
      </div>
    </section>

    <p>
      If you've tried several times and still can't log in please contact us
      <a href="mailto:organise.school-experience@education.gov.uk">
        organise.school-experience@education.gov.uk
      </a>
    </p>

  </div>
</div>
