<%
  self.page_title = @school.name

  self.breadcrumbs = {
    @current_school.name => schools_dashboard_path,
    'School profile' => schools_on_boarding_profile_path,
    'Preview' => nil
  } if @current_school.private_beta?
%>

<%= govuk_back_link schools_on_boarding_profile_path, javascript: true %>

<h1 class="govuk-heading-l govuk-!-margin-top-4">
  Preview your school experience profile
</h1>

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    Any changes are not yet published. To publish your changes, go back and press 'Accept and set up profile'
  </strong>
</div>

<p>
  This is how your school will appear to candidates:
</p>

<div class="school-preview">
  <h2 class="govuk-heading-l govuk-!-margin-top-4"><%= @school.name %></h2>

  <%= render 'candidates/schools/phase2', school: @school, include_candidate_request_links: false %>
</div>
