<%
  self.page_title = "School profile review"

  self.breadcrumbs = {
    @current_school.name => schools_dashboard_path,
    'School profile' => schools_on_boarding_profile_path,
    'Preview' => nil
  } if @current_school.private_beta?
%>

<h1 class="govuk-heading-l govuk-!-margin-top-4">
  School profile preview
</h1>

<% if @presenter.warning %>
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
      <%= @presenter.warning %>
    </strong>
  </div>
<% end %>

<p>
  This is how your school will appear to candidates:
</p>

<div class="school-preview">
  <h2 class="govuk-heading-l govuk-!-margin-top-4"><%= @school.name %></h2>

  <%= render 'candidates/schools/phase2', school: @school, include_candidate_request_links: false %>
</div>
<div class="govuk-!-margin-top-5">
  <%= govuk_link_to 'Return to profile', schools_on_boarding_profile_path, secondary: true %>
</div>
