div[data-controller="grab-location"] {
  .school-search-form__coords-request {
    @extend .govuk-link ;
    float: right;
    line-height: 20px ;
    text-decoration: none;

    @include govuk-media-query($from: tablet) {
      line-height: 25px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &.school-search-form--show-coords-request .school-search-form__coords_request {
    display: block;
  }

  &.school-search-form__location-field--using-coords input {
    color: $govuk-brand-colour;
    background-color: govuk-colour("grey-2") ;
  }

  .school-search-form__location-field-container {
    position: relative;
  }

  .grab-location--error-message {
    @include govuk-responsive-margin(1, "top");
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    color: $govuk-error-colour;
    @include govuk-font($size: 19);
    padding: govuk-spacing(1);
    border: $govuk-border-width-form-element solid transparent;
  }
}
