<% if show_cookie_message? %>
  <div id="cookie-banner" aria-label="cookie banner" role="region">
    <div id="cookie-banner-message" class="govuk-width-container">
      <p>
        School experience uses cookies which are essential for the site to work.
        We also use non-essential cookies to help us improve the schoole
        experience service. By continuing to use this site, you agree to our use
        of cookies.
      </p>

      <p>
        <%= link_to("Find out more about cookies", cookies_policy_path) %>
      </p>

      <%= govuk_button_to 'Accept cookies',
          cookie_preference_path(cookie_preference: {all: 'true'}),
          method: :patch %>

      <%= govuk_link_to 'Cookie settings', edit_cookie_preference_path %>
    </div>
  </div>
<% end %>
