.inline-fields {
  label {
    display: none;
  }

  .govuk-form-group {
    display: inline-block;
    margin-right: 0.4em;
  }
}

.filter-list fieldset legend span.govuk-label {
  @extend %govuk-heading-m ;
}
