.pagination-info {

  display: flex;
  flex-wrap: wrap;

  div.pagination-slice {
    flex: 1;
  }

  nav.pagination {
    flex: 1;
    text-align: right;

    span.prev {
      margin-right: 0.2rem;
    }

    span.page {
      margin: 0rem 0.2rem;
    }

    span.next {
      margin-left: 0.2rem;
    }
  }

}
