#search-results {
  @include govuk-text-colour;
  @include govuk-font($size: 16);

  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }

  ul li {
    margin-left: 0;
    padding-left: 0;
  }

  li.school-result {
    margin-bottom: 1em;
    @extend %govuk-body-m;

    li {
      margin-top: 0.1em;
    }

    a {
      @include govuk-typography-weight-bold($important: true);
      margin-bottom: 1em;
    }
  }

  hr {
    @extend .govuk-section-break ;
    @extend .govuk-section-break--m ;
    @extend .govuk-section-break--visible ;
  }
}

.filter-list fieldset legend span.govuk-label {
  @extend %govuk-heading-m ;
}

.school-search-form {
  .school-search-form__search-field {
    @include govuk-grid-column(one-third, $at: desktop, $class: false) ;
  }

  .school-search-form__location-field {
    @include govuk-grid-column(two-thirds, $class: false) ;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .school-search-form__distance-field {
    @include govuk-grid-column(one-third, $class: false) ;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;

    select {
      width: 100%;
    }
  }

  .school-search-form__location-pair {
    @include govuk-grid-column(one-half, $at: desktop, $class: false) ;
  }

  .school-search-form__submit {
    @include govuk-grid-column(two-twelths, $at: desktop, $class: false) ;

    .govuk-button {
      width: 100%;

      @include govuk-media-query($from: desktop) {
        margin-top: govuk-spacing(6);
      }
    }
  }
}

#candidate-school-profile {
  ul {
    @extend .govuk-list ;
    @extend .govuk-list--bullet ;
    @extend .govuk-body-s ;

    a {
      @extend .govuk-link ;
    }

    li {
      @include govuk-responsive-margin(4, "top") ;
      @include govuk-responsive-margin(4, "bottom") ;
    }
  }
}


