article#dashboard {
  #change-school {
    padding-top: 0;
  }

  section {
    padding: 2rem 0rem;
    margin: 0rem 0rem;

    &:not(:last-child) {
      border-bottom: 1px solid $govuk-border-colour;
    }

    header {
      margin: 0rem 0rem 0.4rem;
      padding: 0rem;

      &.dashboard-high-priority {
        @include govuk-font($size: 24, $weight: bold);
      }

      &.dashboard-medium-priority {
        @include govuk-font($size: 19, $weight: bold);
      }

      &.dashboard-low-priority {
        @include govuk-font($size: 16, $weight: bold);
      }
    }

    ul.other-tasks {
      li.dashboard-low-priority > a {
        @include govuk-font($size: 16, $weight: bold);
      }
    }

    p.govuk-hint {
      margin: 0rem 0rem 0.4rem;
      padding: 0rem;
    }

    .subsection {
      padding: 1rem 0rem;
    }

    div.numbered-circle {
      background-color: #A32526;
      border-radius: 50%;
      color: white;
      display: inline-block;
      height: 1.8rem;
      margin-left: 0.5rem;
      min-width: 1.8rem;
      padding: 0.3rem;
      text-align: center;
    }

    &.requests-and-bookings {
    }

    #requests {
      padding-top: 0;
    }
  }

  section.medium-priority {
    .subsection {
      padding: 0;
    }
  }
}

.govuk-hint.govuk-hint__indented {
  margin-left: 3.3rem;
  display: inline-block;
}
