#search-results {
  @include govuk-text-colour;
  @include govuk-font($size: 16);

  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }

  ul li {
    margin-left: 0;
    padding-left: 0;
  }

  li.school-result {
    margin-bottom: 1em;
    @extend %govuk-body-m;

    li {
      margin-top: 0.1em;
    }
  }

  a {
    @include govuk-typography-weight-bold($important: true);
    margin-bottom: 1em;
  }

  hr {
    @extend .govuk-section-break ;
    @extend .govuk-section-break--m ;
    @extend .govuk-section-break--visible ;
  }
}

.filter-list fieldset legend span.govuk-label {
  @extend %govuk-heading-m ;
}

#search-form {
  label {
    display: none;
  }

  select {
    width: 100%;
  }

  #location-field {
    width: 59%;
    display: inline-block;
  }

  #distance-field {
    width: 39%;
    display: inline-block;
  }

  #location-distance-fields {
    div, input, select {
      margin: 0;
    }

    div {
      padding: 0;
      box-sizing: border-box;
    }
  }
}