<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1>Your school is not signed up to the manage school experience service</h1>

    <p>
      We're in the process of rolling out the service to more schools across
      England.
    </p>

    <p>
      To find out more about or sign up for manage school experience email your
      request and URN to
      <a href="mailto:organise.school-experience@education.gov.uk">
        organise.school-experience@education.gov.uk
      </a>
    </p>

    <section>
      <p>
        If you administer other schools that are already signed up you can change to that school
      </p>
      <div>
        <%= link_to "Change school", new_schools_switch_path, class: 'govuk-button' %>
      </div>
    </section>

  </div>
</div>
