<%- self.page_title = "Error - your school is not signed up to the manage school experience service" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1><%= school_descriptor %> is not signed up to the manage school experience service</h1>

    <p>
      We're in the process of rolling out the service to more schools across
      England.
    </p>

    <p>
      To find out out more about or sign up for manage school experience email
      your request - including your full name and school's name and URN
      (<%= session[:urn] %>) - to
      <a href="mailto:organise.school-experience@education.gov.uk">
        organise.school-experience@education.gov.uk
      </a>
    </p>

    <% if @current_user.present? %>
      <p>
        You are currently logged in as <strong><%= current_user_full_name %></strong>.
      </p>
    <% end %>

    <section>
      <p>
        If you administer other schools that are already signed up you can change to that school
      </p>
      <div>
        <%= govuk_link_to "Change school", new_schools_switch_path %>
      </div>
    </section>

  </div>
</div>
