<%- self.page_title = "Upcoming bookings" %>

<%
  self.breadcrumbs = {
    @current_school.name => schools_root_path,
    "All bookings" => schools_bookings_path,
    "Upcoming bookings" => nil
  }
%>

<h2 class="Govuk-heading-m">Upcoming bookings</h2>

<%= render partial: 'schools/confirmed_bookings/booking_table', locals: { bookings: @bookings } %>
