name: Rebuild master docker image
on:
  workflow_dispatch:

  schedule:
    - cron: '0 12 * * 0'

permissions:
  contents: write
  packages: write
  id-token: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: set-up-environment
        uses: DFE-Digital/github-actions/set-up-environment@master

      - name: Set BRANCH_TAG
        run: |
          if [ "${{github.ref}}" == "refs/heads/master" ]
          then
            GIT_BRANCH=master
          else
            GIT_BRANCH=${{ github.ref_name }}
          fi
          echo "BRANCH_TAG=$GIT_BRANCH" >> $GITHUB_ENV

      - name: Set DOCKER_IMAGE environment variable
        id: docker
        run: |
            {
              echo 'TAGS_VAR<<EOF'
              echo ${{ env.DOCKER_REPOSITORY }}:${{ env.BRANCH_TAG }}
              echo EOF
            } >> "$GITHUB_ENV"

      - name: Build and push docker image
        id: build-image
        uses: DFE-Digital/github-actions/build-docker-image@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          context: ""
          max-cache: false
          reuse-cache: false
          main-branch: "master"
          docker-sha: ${{ env.BRANCH_TAG }}
          snyk-token: ${{ secrets.SNYK_TOKEN }}

      - name: Slack Notification
        if: failure() && github.ref == 'refs/heads/master'
        uses: rtCamp/action-slack-notify@master
        env:
           SLACK_COLOR: ${{env.SLACK_ERROR}}
           SLACK_MESSAGE: 'There has been a failure building the application'
           SLACK_TITLE: 'Failure Building Application'
           SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
